@import "./variables.scss";

// buttons
.btn {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border: 1px solid light(200);
    border-radius: 6px;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 24px;
    color: dark(100);
    cursor: pointer;

    // button styles
    &.borderless {
        border: none;
        box-sizing: content-box;
    }

    &.primary {
        background-color: blue(100);
        border: 1px solid blue(200);
        color: light(100);

        &:hover {
            border: 1px solid blue(300);
            background-color: blue(200);
        }

        &:active {
            border: 1px solid blue(400);
            background-color: blue(300);
        }
    }

    &.red {
        background-color: red(100);
        border: 1px solid red(200);
        color: light(100);

        &:hover {
            border: 1px solid red(300);
            background-color: red(200);
        }

        &:active {
            border: 1px solid red(400);
            background-color: red(300);
        }
    }

    &.light {
        border: 1px solid light(200);

        &:hover {
            border: 1px solid light(300);
            background-color: darken(light(100), 1%);
        }

        &:active {
            background-color: darken(light(100), 2%);
        }
    }

    &.dark {
        border: 1px solid dark(300);
        background-color: dark(100);
        color: light(100);

        &:hover {
            background-color: lighten(dark(100), 1%);
        }

        &:active {
            background-color: lighten(dark(100), 2%);
        }
    }

    // text modifiers
    &.s-text {
        font-size: 16px;
    }

    &.m-text {
        font-size: 18px;
    }

    &.l-text {
        font-size: 20px;
    }

    // size modifiers
    &.s-size {
        height: 30px;
        line-height: 30px;

        span.material-icons {
            line-height: 30px;
        }
    }

    &.m-size {
        height: 40px;
        line-height: 40px;

        span.material-icons {
            line-height: 40px;
        }
    }

    &.l-size {
        height: 50px;
        line-height: 50px;

        span.material-icons {
            line-height: 50px;
        }
    }

    // material icons
    span.material-icons {
        vertical-align: top;
        line-height: 40px;
    }

    // hints

    .hint {
        display: none;
        position: absolute;
        left: 50%;
        width: fit-content;
        max-width: calc(100% - 20px);
        height: calc(40px - 5px);
        border-radius: 6px;
        transform: translateX(-50%);
        background-color: rgba(dark(300), 0.5);
        font-size: 14px;
        line-height: 15px;
        padding-top: 5px;
        color: light(100);
    }

    .hint-bottom {
        bottom: -55px;
    }

    &:hover .hint {
        display: block;
    }
}

// box model - margin and padding classes

$properties: margin, padding;
$directions: top, right, bottom, left;
$sizes: 5, 10, 15, 20, 25, 30, 40, 50, 100;

@each $property in $properties {
    @each $direction in $directions {
        @each $size in $sizes {
            .#{str-slice($property, 1, 1)}#{str-slice($direction, 1, 1)}-#{$size} {
                #{$property}-#{$direction}: #{$size}px !important;
            }
        }
    }
}

// sections
.center-section {
    display: block;
    width: calc(100% - 80px);
    margin: 0 auto;
}

main.content {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
}

// misc
.center {
    display: block;
    margin: 0 auto;
}

.right {
    float: right;
}