@import "./variables.scss";

// buttons
.btn {
    display: inline-block;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border: 1px solid light(200);
    border-radius: 6px;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 24px;
    color: dark(100);
    cursor: pointer;

    // button styles
    &.borderless {
        border: none;
        box-sizing: content-box;
    }

    &.primary {
        background-color: blue(100);
        border: 1px solid blue(200);
        color: light(100);
    }

    // text modifiers
    &.s-text {
        font-size: 18px;
    }

    &.m-text {
        font-size: 24px;
    }

    &.l-text {
        font-size: 32px;
    }

    // size modifiers
    &.s-size {
        height: 30px;
        line-height: 30px;

        span.material-icons {
            line-height: 30px;
        }
    }

    &.m-size {
        height: 40px;
        line-height: 40px;

        span.material-icons {
            line-height: 40px;
        }
    }

    &.l-size {
        height: 50px;
        line-height: 50px;

        span.material-icons {
            line-height: 50px;
        }
    }

    // material icons
    span.material-icons {
        vertical-align: top;
        line-height: 40px;
    }
}

// box model - margin and padding classes

$properties: margin, padding;
$directions: top, right, bottom, left;
$sizes: 5, 10, 20, 30, 40, 50, 100;

@each $property in $properties {
    @each $direction in $directions {
        @each $size in $sizes {
            .#{str-slice($property, 1, 1)}#{str-slice($direction, 1, 1)}-#{$size} {
                #{$property}-#{$direction}: #{$size}px !important;
            }
        }
    }
}

// sections
.center-section {
    display: block;
    width: calc(100% - 80px);
    margin: 0 auto;
}