@import "variables";

// buttons
.btn {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border: 1px solid light(200);
    border-radius: 6px;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 24px;
    color: dark(100);
    cursor: pointer;
    user-select: none;

    // button styles
    &.borderless {
        border: none;
        box-sizing: content-box;
    }

    &.primary {
        background-color: blue(100);
        border: 1px solid blue(200);
        color: light(100);

        &:hover {
            border: 1px solid blue(300);
            background-color: blue(200);
        }

        &:active {
            border: 1px solid blue(400);
            background-color: blue(300);
        }
    }

    &.red {
        background-color: red(100);
        border: 1px solid red(200);
        color: light(100);

        &:hover {
            border: 1px solid red(300);
            background-color: red(200);
        }

        &:active {
            border: 1px solid red(400);
            background-color: red(300);
        }
    }

    &.light {
        border: 1px solid light(200);

        &:hover {
            border: 1px solid light(300);
            background-color: darken(light(100), 1%);
        }

        &:active {
            background-color: darken(light(100), 2%);
        }
    }

    &.dark {
        border: 1px solid dark(300);
        background-color: dark(100);
        color: light(100);

        &:hover {
            background-color: lighten(dark(100), 1%);
        }

        &:active {
            background-color: lighten(dark(100), 2%);
        }

        .roll {
            background-color: dark(100);
            border: 1px solid dark(300);

            .roll-option {
                border: 1px solid dark(100);

                &:hover {
                    background-color: lighten(dark(100), 1%);
                    border: 1px solid dark(200);
                }

                &:active {
                    background-color: lighten(dark(100), 2%);
                }

                &:not(:last-of-type) {
                    border-bottom: 1px solid dark(300);
                }
            }
        }
    }

    // text modifiers
    &.s-text {
        font-size: 16px;
    }

    &.m-text {
        font-size: 18px;
    }

    &.l-text {
        font-size: 20px;
    }

    // size modifiers
    &.s-size {
        height: 30px;
        line-height: 30px;

        span.material-icons {
            line-height: 30px;
        }
    }

    &.m-size {
        height: 40px;
        line-height: 40px;

        span.material-icons {
            line-height: 40px;
        }
    }

    &.l-size {
        height: 50px;
        line-height: 50px;

        span.material-icons {
            line-height: 50px;
        }
    }
    
    &.s-square {
        padding: 0;
        width: 30px;
        
        span.material-icons {
            padding-left: 2px;
        }
    }

    // material icons
    span.material-icons {
        vertical-align: top;
        line-height: 40px;
    }

    // hints

    .hint {
        display: none;
        position: absolute;
        width: fit-content;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(dark(300), 0.5);
        font-size: 12px;
        padding: 0 10px 0 10px;
        border-radius: 4px;
        border: 1px solid rgba(dark(300), 0.75);
        box-sizing: border-box;
        line-height: 28px;
        color: light(100);
    }

    .hint-bottom {
        bottom: calc(-100% - 5px);
    }

    &:hover .hint {
        display: block;
    }

    // roll-down list
    .roll {
        position: absolute;
        left: -2px;
        z-index: 100;
        width: calc(100% + 2px);
        height: auto;
        background-color: light(100);
        border: 1px solid light(200);
        border-radius: 0px 0px 6px 6px;

        .roll-option {
            width: 100%;
            height: 30px;
            border: 1px solid light(100);
            box-sizing: border-box;
            text-align: left;
            padding-left: 10px;

            &:not(:last-of-type) {
                border-bottom: 1px solid light(200);
            }

            &:last-of-type {
                border-radius: 0px 0px 6px 6px;
            }

            &:hover {
                background-color: darken(light(100), 1%);
                border: 1px solid light(300);
                box-sizing: border-box;
            }

            &:active {
                background-color: darken(light(100), 2%);
            }
        }
    }

    &.bottom-not-rounded {
        border-radius: 6px 6px 0px 0px;
    }
}

.select-list {
    text-align: left;

    span.material-icons {
        float: right;
    }
}

// box model - margin and padding classes

$properties: margin, padding;
$directions: top, right, bottom, left;
$sizes: 0, 5, 10, 15, 20, 25, 30, 40, 50, 100;

@each $property in $properties {
    @each $direction in $directions {
        @each $size in $sizes {
            .#{str-slice($property, 1, 1)}#{str-slice($direction, 1, 1)}-#{$size} {
                #{$property}-#{$direction}: #{$size}px !important;
            }
        }
    }
}

// sections
.center-section {
    display: block;
    width: calc(100% - 80px);
    margin: 0 auto;
}

main.content {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
}

// misc
.center {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bold {
    font-weight: 600;
}

.rotate180 {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
}