@media only screen and (max-width: 1700px) {
    main.content {
        width: 100%;
    }

    #chart-form {
        padding: 0 20px 0 20px;
        margin-top: 20px;
    }

    .chart {
        height: calc(100vh - 130px - 2px);
        border-radius: 0px;
    }
}

@media only screen and (max-width: 1150px) {
    #countries-list-section {
        display: block;
        flex-wrap: nowrap;

        padding-bottom: 10px;
    }

    .country-card {
        min-height: 0px;
        overflow: hidden;
        width: 100%;

        h2 {
            text-align: left;
            float: left;
            padding: 20px;
            width: calc(100% - 410px);

            .inline-flag {
                display: inline-block;
            }
        }
    }

    .card-flag {
        display: none;
    }

    .btns-wrapper {
        position: relative;
        float: right;
        left: 0;
        bottom: 0;
        transform: none;
        margin: 20px 20px;
    }
}

@media only screen and (max-width: 900px) {
    // comparison bar graph -> hide labels, keep flags

    #y-axis {
        gap: 10px;

        .bar {
            .desc {
                .label-flag {
                    height: 20px;
                }

                .label {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 860px) {
    // filters -> filter select list

    .filter-select {
        display: none;
    }

    #filter-select-list {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .country-card {
        h2 {
            width: calc(100% - 180px);
        }
    }

    .statistics-btn, .comparison-add-btn {
        padding: 0;
        width: 40px;

        .text {
            display: none;
        }
    }

    // stats view
    section.stats-box {
        position: relative;
        max-width: 100%;
        width: calc(100% - 40px);
        padding: 80px 20px 20px 20px;
        left: 0;
        top: 0;
        transform: none;
    }

    // chart
    #chart-form {
        #chart-reset-btn {
            position: absolute;
            right: 20px;
            top: 0;
        }

        #chart-reset-btn-text {
            display: none;
        }
    }
}

@media only screen and (max-height: 700px) {
    // stats view
    section.stats-box {
        position: relative;
        max-width: 100%;
        width: calc(100% - 40px);
        padding: 80px 20px 20px 20px;
        left: 0;
        top: 0;
        transform: none;
    }
}

@media only screen and (max-width: 700px) {
    // side menu

    #side-menu {
        width: 300px;
    }

    .menu-slide-enter-from, .menu-slide-leave-to {
        left: -300px;
    }
}

@media only screen and (max-width: 620px) {
    #chart-form {
        .select-list {
            display: block;
            margin-bottom: 10px;

            &:not(:first-of-type) {
                padding: 0 !important;
            }

            span.label {
                display: block;
                width: fit-content;
                margin-bottom: 10px;
            }
        }
    }

    .chart {
        height: calc(100vh - 230px - 4px);
    }
}

@media only screen and (max-width: 500px) {
    // comparison bar graph -> scale down label flags

    #y-axis {
        gap: 5px;

        .bar {
            .desc {
                .label-flag {
                    height: 12px;
                }
            }
        }
    }
}